In [461]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [462]:
df=pd.read_csv('F:\\Train_UWu5bXk.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [464]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [465]:
df.shape

(8523, 12)

In [466]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [467]:
df['Item_Fat_Content']=df['Item_Fat_Content'].str.replace('LF','Low Fat')
df['Item_Fat_Content']=df['Item_Fat_Content'].str.replace('reg','Regular')
df['Item_Fat_Content']=df['Item_Fat_Content'].str.replace('low fat','Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [468]:
df['Item_Type']=df['Item_Type'].str.replace('Soft Drinks','Drinks')
df['Item_Type']=df['Item_Type'].str.replace('Hard Drinks','Drinks')
df['Item_Type']=df['Item_Type'].str.replace('Breads','Breakfast')
df['Item_Type']=df['Item_Type'].str.replace('Starchy Foods','Breakfast')
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Drinks                    659
Canned                    649
Baking Goods              648
Health and Hygiene        520
Breakfast                 509
Meat                      425
Others                    169
Seafood                    64
Name: Item_Type, dtype: int64

In [469]:
df['Outlet_Identifier'].value_counts()
df['Outlet_Identifier']=df['Outlet_Identifier'].str.split('OUT0').str[-1]
df['Outlet_Identifier']=df['Outlet_Identifier'].astype('int')

In [470]:
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [471]:
df['Outlet_Size']=df['Outlet_Size'].fillna('Not_Avialable')
df['Outlet_Size'].value_counts()

Medium           2793
Not_Avialable    2410
Small            2388
High              932
Name: Outlet_Size, dtype: int64

In [472]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [473]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [474]:
df['Item_Weight']=df['Item_Weight'].fillna(12.796254253197592)

In [475]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  8523 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null int32
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  8523 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int32(1), int64(1), object(6)
memory usage: 765.8+ KB

In [476]:
le=LabelEncoder()
oe=OneHotEncoder()

In [477]:
#df['Item_MRP']=df['Item_MRP'].astype('int')

In [478]:
df['Item_Fat_Content']=le.fit_transform(df['Item_Fat_Content'])
df['Item_Fat_Content']=df['Item_Fat_Content'].astype('category')
df['Outlet_Location_Type']=le.fit_transform(df['Outlet_Location_Type'])
df['Outlet_Location_Type']=df['Outlet_Location_Type'].astype('category')
#df['Item_Type']=le.fit_transform(df['Item_Type'])
#df['Item_Type']=df['Item_Type'].astype('category')
s=pd.get_dummies(df['Item_Type'])
df=df.join(s)

In [479]:
s1=pd.get_dummies(df['Outlet_Size'])
df=df.join(s1)
df=df.drop(['Outlet_Size','Item_Type'],axis=1)
s2=pd.get_dummies(df['Outlet_Type'])
df=df.join(s2)
df=df.drop('Outlet_Type',axis=1)

In [480]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import BaggingRegressor
from catboost import CatBoostRegressor

In [481]:
x=df.drop(['Item_Outlet_Sales','Item_Identifier'],axis=1)
y=df['Item_Outlet_Sales']

In [482]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42)

In [483]:
dt=DecisionTreeRegressor(max_depth=5)
dt.fit(x_train,y_train)
y_dt=dt.predict(x_test)
np.sqrt(mean_squared_error(y_dt,y_test))

1057.4431299496734

In [484]:
bc=BaggingRegressor(dt,n_estimators=90)
bc.fit(x_train,y_train)
y_bc=bc.predict(x_test)
np.sqrt(mean_squared_error(y_bc,y_test))

1046.1424657173288

In [485]:
ada=GradientBoostingRegressor(n_estimators=10,subsample=0.9)
ada.fit(x_train,y_train)
y_ada=ada.predict(x_test)
np.sqrt(mean_squared_error(y_ada,y_test))

1174.8113269796006

In [486]:
model=CatBoostRegressor(iterations=100, depth=3, learning_rate=0.1, loss_function='RMSE')
model.fit(x_train,y_train)
y_cat=model.predict(x_test)

In [487]:
import lightgbm as lgb
train_data=lgb.Dataset(x_train,label=y_train)
param = {'num_leaves':150,'max_depth':2,'learning_rate':0.2}
param['metric'] = ['RMSE']
num_round=600
lgbm=lgb.train(param,train_data,num_round)
y_gbm=lgbm.predict(x_test)
np.sqrt(mean_squared_error(y_gbm,y_test))

1071.2250799703609

In [488]:
test=pd.read_csv('F:\\Test_u94Q5KV.csv')
test['Item_Weight'].mean()

12.695633368756374

In [489]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [490]:
test['Item_Fat_Content']=test['Item_Fat_Content'].str.replace('LF','Low Fat')
test['Item_Fat_Content']=test['Item_Fat_Content'].str.replace('reg','Regular')
test['Item_Fat_Content']=test['Item_Fat_Content'].str.replace('low fat','Low Fat')
test['Item_Fat_Content'].value_counts()

Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [491]:
test['Item_Type']=test['Item_Type'].str.replace('Soft Drinks','Drinks')
test['Item_Type']=test['Item_Type'].str.replace('Hard Drinks','Drinks')
test['Item_Type']=test['Item_Type'].str.replace('Breads','Breakfast')
test['Item_Type']=test['Item_Type'].str.replace('Starchy Foods','Breakfast')

In [492]:
test['Outlet_Identifier'].value_counts()
test['Outlet_Identifier']=test['Outlet_Identifier'].str.split('OUT0').str[-1]
test['Outlet_Identifier']=test['Outlet_Identifier'].astype('int')

In [493]:
test['Outlet_Size']=test['Outlet_Size'].fillna('Not_Avialable')
test['Item_Weight']=test['Item_Weight'].fillna(12.695633368756374)

In [494]:
test['Item_Fat_Content']=le.fit_transform(test['Item_Fat_Content'])
test['Item_Fat_Content']=test['Item_Fat_Content'].astype('category')
test['Outlet_Location_Type']=le.fit_transform(test['Outlet_Location_Type'])
test['Outlet_Location_Type']=test['Outlet_Location_Type'].astype('category')
#test['Item_Type']=le.fit_transform(test['Item_Type'])
#test['Item_Type']=test['Item_Type'].astype('category')
s=pd.get_dummies(test['Item_Type'])
test=test.join(s)

In [495]:
s1=pd.get_dummies(test['Outlet_Size'])
test=test.join(s1)
test=test.drop(['Outlet_Size','Item_Type'],axis=1)
s2=pd.get_dummies(test['Outlet_Type'])
test=test.join(s2)
test=test.drop('Outlet_Type',axis=1)

In [496]:
#test['Item_MRP']=test['Item_MRP'].astype('int')

In [497]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Baking Goods,Breakfast,...,Seafood,Snack Foods,High,Medium,Not_Avialable,Small,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,FDW58,20.750000,0,0.007565,107.8622,49,1999,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,FDW14,8.300000,1,0.038428,87.3198,17,2007,1,0,0,...,0,0,0,0,1,0,0,1,0,0
2,NCN55,14.600000,0,0.099575,241.7538,10,1998,2,0,0,...,0,0,0,0,1,0,1,0,0,0
3,FDQ58,7.315000,0,0.015388,155.0340,17,2007,1,0,0,...,0,1,0,0,1,0,0,1,0,0
4,FDY38,12.695633,1,0.118599,234.2300,27,1985,2,0,0,...,0,0,0,1,0,0,0,0,0,1

In [498]:
test=test.drop(['Item_Identifier'],axis=1)
y_test=lgbm.predict(test)

In [499]:
sub=pd.read_csv('F:\\SampleSubmission_TmnO39y.csv')
sub['Item_Outlet_Sales']=y_test

In [500]:
sub.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1515.676713
1           FDW14            OUT017        1304.664036
2           NCN55            OUT010         655.419093
3           FDQ58            OUT017        2241.139431
4           FDY38            OUT027        6041.345519

In [501]:
sub.to_csv('F:\\submit.csv',index=False)
sub

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1515.676713
1              FDW14            OUT017        1304.664036
2              NCN55            OUT010         655.419093
3              FDQ58            OUT017        2241.139431
4              FDY38            OUT027        6041.345519
5              FDH56            OUT046        1638.379367
6              FDL48            OUT018         470.000582
7              FDC48            OUT027        2013.963718
8              FDN33            OUT045        1463.171611
9              FDA36            OUT017        2986.986112
10             FDT44            OUT017        1708.912557
11             FDQ56            OUT045        1391.295785
12             NCC54            OUT019         735.522588
13             FDU11            OUT049        1894.100626
14             DRL59            OUT013         921.949208
15             FDM24            OUT049        2187.018574
16             FDI57            OUT045        3764.560555
17             DRC12            OUT018        3018.876459
18             NCM42            OUT027        2791.336655
19             FDA46            OUT010         457.378175
20             FDA31            OUT013        2651.365980
21             NCJ31            OUT035        3545.807611
22             FDG52            OUT046         692.921697
23             NCL19            OUT019         418.527759
24             FDS10            OUT035        2951.986967
25             FDX22            OUT010         959.565677
26             NCF19            OUT035         729.912900
27             NCE06            OUT046        2764.086816
28             DRC27            OUT046        3409.789044
29             FDE21            OUT035        2166.854634
...              ...               ...                ...
5651           FDD23            OUT013        3147.480268
5652           FDP32            OUT045        1963.461045
5653           FDO31            OUT035        1474.171409
5654           FDQ57            OUT013        2478.381578
5655           FDX32            OUT027        3928.672139
5656           FDC39            OUT027        5344.417899
5657           FDU55            OUT046        4942.439923
5658           FDL45            OUT013        2091.996358
5659           DRK37            OUT049        3610.755172
5660           FDK22            OUT013        3251.287725
5661           DRG37            OUT027        3837.805549
5662           FDK22            OUT017        3402.227716
5663           DRH36            OUT018         839.811916
5664           DRC36            OUT018        2633.512089
5665           DRE03            OUT027        1202.725118
5666           FDF34            OUT046        3008.553454
5667           FDZ22            OUT046        1269.159229
5668           FDC44            OUT010         192.273335
5669           FDN31            OUT027        5209.866953
5670           FDO03            OUT017        4330.483872
5671           FDA01            OUT049        1010.379513
5672           NCH42            OUT049        4620.037230
5673           FDF46            OUT018        1523.658285
5674           DRL35            OUT046         507.599097
5675           FDW46            OUT049        1145.337894
5676           FDB58            OUT046        2090.288492
5677           FDD47            OUT018        2753.637791
5678           NCO17            OUT045        1985.490655
5679           FDJ26            OUT017        3879.255271
5680           FDU37            OUT045        1695.824524

[5681 rows x 3 columns]