In [101]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from catboost import CatBoostRegressor
import lightgbm as lgb
import numpy as np

In [102]:
df=pd.read_excel('D:\\Data_Train.xlsx')
df.head(6)

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
5,CASUAL DINING,5618,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550 votes,800

In [103]:
en=OneHotEncoder()
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [104]:
df['LOCALITY'].nunique()

1416

In [105]:
df['CITY']=df['CITY'].str.split().str.len()
df=df.drop(['TITLE','LOCALITY'],axis=1)
df['CUISINES']=df['CUISINES'].str.split().str.len()
a=df['TIME'].str.split(',')
df['LUNCH']=a.str[0]
df['DINNER']=a.str[1]
df['TIME'].head()

0    11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)
1                      6pm – 11pm (Mon-Sun)
2       11am – 3:30pm, 7pm – 11pm (Mon-Sun)
3                   11:30am – 1am (Mon-Sun)
4                      11am – 1am (Mon-Sun)
Name: TIME, dtype: object

In [106]:
df.head(6)

,RESTAURANT_ID,CUISINES,TIME,CITY,RATING,VOTES,COST,LUNCH,DINNER
0,9438,4,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",1.0,3.6,49 votes,1200,11am – 4pm,7:30pm – 11:30pm (Mon-Sun)
1,13198,4,6pm – 11pm (Mon-Sun),1.0,4.2,30 votes,1500,6pm – 11pm (Mon-Sun),NaN
2,10915,5,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",1.0,3.8,221 votes,800,11am – 3:30pm,7pm – 11pm (Mon-Sun)
3,6346,2,11:30am – 1am (Mon-Sun),1.0,4.1,24 votes,800,11:30am – 1am (Mon-Sun),NaN
4,15387,1,11am – 1am (Mon-Sun),1.0,3.8,165 votes,300,11am – 1am (Mon-Sun),NaN
5,5618,5,12noon – 12:30AM (Mon-Sun),1.0,4.0,550 votes,800,12noon – 12:30AM (Mon-Sun),NaN

In [107]:
#df[df['LUNCH'].notnull()]=1

In [108]:
df['DINNER']=df['DINNER'].fillna(0)
df.head()

,RESTAURANT_ID,CUISINES,TIME,CITY,RATING,VOTES,COST,LUNCH,DINNER
0,9438,4,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",1.0,3.6,49 votes,1200,11am – 4pm,7:30pm – 11:30pm (Mon-Sun)
1,13198,4,6pm – 11pm (Mon-Sun),1.0,4.2,30 votes,1500,6pm – 11pm (Mon-Sun),0
2,10915,5,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",1.0,3.8,221 votes,800,11am – 3:30pm,7pm – 11pm (Mon-Sun)
3,6346,2,11:30am – 1am (Mon-Sun),1.0,4.1,24 votes,800,11:30am – 1am (Mon-Sun),0
4,15387,1,11am – 1am (Mon-Sun),1.0,3.8,165 votes,300,11am – 1am (Mon-Sun),0

In [109]:
#df['DINNER_FROM']=df['DINNER_FROM'].fillna(0)
#df['DINNER_TO']=df['DINNER_TO'].fillna(0)
df['DINNER'].head(15)

0      7:30pm – 11:30pm (Mon-Sun)
1                               0
2            7pm – 11pm (Mon-Sun)
3                               0
4                               0
5                               0
6                             Tue
7                               0
8                               0
9         4pm – 10:30pm (Mon-Sun)
10                              0
11                            Tue
12                              0
13                              0
14          11am – 11pm (Tue-Sun)
Name: DINNER, dtype: object

In [110]:
df['DINNER_FROM']=df['DINNER'].str.extract('(\d+)')
df=df.drop('DINNER',axis=1)
df['DINNER_FROM']=df['DINNER_FROM'].fillna(0)
df['LUNCH_FROM']=df['LUNCH'].str.extract('(\d+)')
df['LUNCH_FROM']=df['LUNCH_FROM'].fillna(0)

In [111]:
df.isnull().sum()

RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
RATING              2
VOTES            1204
COST                0
LUNCH               0
DINNER_FROM         0
LUNCH_FROM          0
dtype: int64

In [112]:
df['CITY']=df['CITY'].fillna(1.0)
df['VOTES']=df['VOTES'].fillna('44 votes')
a=df['VOTES'].str.split()
df['VOTES']=a.str[0]
df=df.drop(['TIME','LUNCH'],axis=1)

In [113]:
df['RATING']=df["RATING"].str.replace('NEW','0')
df['RATING']=df["RATING"].str.replace('-','0')
df['RATING']=df['RATING'].astype('float')
df['VOTES']=df['VOTES'].astype('float')

In [114]:
df['DINNER_FROM']=df['DINNER_FROM'].astype('float')
df['LUNCH_FROM']=df['LUNCH_FROM'].astype('float')
df['RATING']=df['RATING'].fillna(3.9)

In [115]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import scale

In [116]:
x=df.drop(['COST','RESTAURANT_ID'],axis=1)
y=df['COST']

In [117]:
cat=CatBoostRegressor(iterations=120, depth=4, learning_rate=0.16, loss_function='RMSE',
                     )
cat.fit(x_train,y_train)

0:	learn: 831.2240396	total: 37.5ms	remaining: 4.46s
1:	learn: 767.8629867	total: 67ms	remaining: 3.95s
2:	learn: 715.4119488	total: 101ms	remaining: 3.95s
3:	learn: 675.3031894	total: 136ms	remaining: 3.93s
4:	learn: 643.8083490	total: 176ms	remaining: 4.04s
5:	learn: 619.1459732	total: 208ms	remaining: 3.95s
6:	learn: 599.9903005	total: 249ms	remaining: 4.02s
7:	learn: 584.9738354	total: 297ms	remaining: 4.15s
8:	learn: 575.1652140	total: 341ms	remaining: 4.21s
9:	learn: 568.3976791	total: 383ms	remaining: 4.21s
10:	learn: 562.4941273	total: 417ms	remaining: 4.13s
11:	learn: 555.9028121	total: 452ms	remaining: 4.07s
12:	learn: 552.6488369	total: 488ms	remaining: 4.01s
13:	learn: 549.7752413	total: 534ms	remaining: 4.04s
14:	learn: 545.9533423	total: 575ms	remaining: 4.02s
15:	learn: 543.7205167	total: 613ms	remaining: 3.98s
16:	learn: 542.5852978	total: 656ms	remaining: 3.97s
17:	learn: 541.3277420	total: 717ms	remaining: 4.06s
18:	learn: 540.1997098	total: 764ms	remaining: 4.06s
19:	learn: 539.3370150	total: 802ms	remaining: 4.01s
20:	learn: 538.9718326	total: 850ms	remaining: 4.01s
21:	learn: 537.5278790	total: 910ms	remaining: 4.05s
22:	learn: 536.6016340	total: 952ms	remaining: 4.02s
23:	learn: 535.0172061	total: 996ms	remaining: 3.98s
24:	learn: 534.7015133	total: 1.03s	remaining: 3.92s
25:	learn: 534.3690631	total: 1.06s	remaining: 3.85s
26:	learn: 534.2196566	total: 1.1s	remaining: 3.78s
27:	learn: 534.0460384	total: 1.13s	remaining: 3.71s
28:	learn: 533.8171790	total: 1.16s	remaining: 3.64s
29:	learn: 532.5892734	total: 1.19s	remaining: 3.58s
30:	learn: 531.6746948	total: 1.23s	remaining: 3.54s
31:	learn: 530.6215610	total: 1.26s	remaining: 3.48s
32:	learn: 530.4109309	total: 1.3s	remaining: 3.43s
33:	learn: 529.7485967	total: 1.34s	remaining: 3.39s
34:	learn: 529.6380641	total: 1.39s	remaining: 3.37s
35:	learn: 528.3418073	total: 1.44s	remaining: 3.35s
36:	learn: 527.9162277	total: 1.48s	remaining: 3.33s
37:	learn: 527.8258800	total: 1.52s	remaining: 3.27s
38:	learn: 527.2934610	total: 1.55s	remaining: 3.22s
39:	learn: 526.8358506	total: 1.6s	remaining: 3.2s
40:	learn: 526.6966533	total: 1.64s	remaining: 3.16s
41:	learn: 526.3165202	total: 1.67s	remaining: 3.1s
42:	learn: 525.5720797	total: 1.69s	remaining: 3.03s
43:	learn: 525.2100676	total: 1.72s	remaining: 2.97s
44:	learn: 524.7909537	total: 1.75s	remaining: 2.91s
45:	learn: 524.3424245	total: 1.78s	remaining: 2.87s
46:	learn: 524.0575986	total: 1.82s	remaining: 2.82s
47:	learn: 523.7695786	total: 1.87s	remaining: 2.8s
48:	learn: 523.3073641	total: 1.91s	remaining: 2.77s
49:	learn: 522.9007995	total: 1.95s	remaining: 2.73s
50:	learn: 522.4753344	total: 2s	remaining: 2.7s
51:	learn: 522.3039281	total: 2.04s	remaining: 2.67s
52:	learn: 521.9307192	total: 2.08s	remaining: 2.63s
53:	learn: 521.8480659	total: 2.12s	remaining: 2.58s
54:	learn: 521.1328179	total: 2.14s	remaining: 2.53s
55:	learn: 521.1286713	total: 2.16s	remaining: 2.47s
56:	learn: 521.0832138	total: 2.19s	remaining: 2.42s
57:	learn: 521.0806073	total: 2.22s	remaining: 2.37s
58:	learn: 520.8286999	total: 2.25s	remaining: 2.33s
59:	learn: 520.6062660	total: 2.29s	remaining: 2.29s
60:	learn: 520.5492664	total: 2.32s	remaining: 2.24s
61:	learn: 520.3909113	total: 2.35s	remaining: 2.19s
62:	learn: 520.3720209	total: 2.38s	remaining: 2.15s
63:	learn: 520.0738424	total: 2.42s	remaining: 2.11s
64:	learn: 519.4999522	total: 2.47s	remaining: 2.09s
65:	learn: 519.4927921	total: 2.51s	remaining: 2.05s
66:	learn: 519.4792281	total: 2.55s	remaining: 2.02s
67:	learn: 519.4364509	total: 2.59s	remaining: 1.98s
68:	learn: 519.4179619	total: 2.63s	remaining: 1.94s
69:	learn: 519.2898999	total: 2.68s	remaining: 1.92s
70:	learn: 519.0372238	total: 2.73s	remaining: 1.88s
71:	learn: 518.5868272	total: 2.77s	remaining: 1.84s
72:	learn: 518.2700978	total: 2.81s	remaining: 1.81s
73:	learn: 518.1453783	total: 2.86s	remaining: 1.78s
74:	learn: 518.1441070	total: 2.89s	remaining: 1.73s
75:	learn: 518.1101669	total: 2.93s	remaining: 1.7s
76:	learn: 517.9436817	total: 2.96s	remaining: 1.66s
77:	learn: 517.6919667	total: 3s	remaining: 1.61s
78:	learn: 517.6907736	total: 3.03s	remaining: 1.57s
79:	learn: 516.9557615	total: 3.1s	remaining: 1.55s
80:	learn: 516.8562195	total: 3.13s	remaining: 1.51s
81:	learn: 516.8252697	total: 3.17s	remaining: 1.47s
82:	learn: 516.8240128	total: 3.21s	remaining: 1.43s
83:	learn: 516.8223271	total: 3.24s	remaining: 1.39s
84:	learn: 516.3934553	total: 3.28s	remaining: 1.35s
85:	learn: 516.3527875	total: 3.34s	remaining: 1.32s
86:	learn: 516.2306534	total: 3.38s	remaining: 1.28s
87:	learn: 516.2247821	total: 3.42s	remaining: 1.24s
88:	learn: 516.1520738	total: 3.45s	remaining: 1.2s
89:	learn: 516.1507836	total: 3.48s	remaining: 1.16s
90:	learn: 516.1356308	total: 3.53s	remaining: 1.13s
91:	learn: 515.9803143	total: 3.59s	remaining: 1.09s
92:	learn: 515.9772060	total: 3.63s	remaining: 1.05s
93:	learn: 515.5532977	total: 3.67s	remaining: 1.01s
94:	learn: 515.5513651	total: 3.7s	remaining: 975ms
95:	learn: 515.0985147	total: 3.75s	remaining: 938ms
96:	learn: 515.0971241	total: 3.79s	remaining: 900ms
97:	learn: 514.9376464	total: 3.82s	remaining: 859ms
98:	learn: 514.9354624	total: 3.85s	remaining: 817ms
99:	learn: 514.1629335	total: 3.89s	remaining: 778ms
100:	learn: 514.1612249	total: 3.92s	remaining: 738ms
101:	learn: 514.1571782	total: 3.98s	remaining: 702ms
102:	learn: 514.1502124	total: 4.02s	remaining: 663ms
103:	learn: 514.1485073	total: 4.05s	remaining: 623ms
104:	learn: 514.0013700	total: 4.09s	remaining: 584ms
105:	learn: 513.8298476	total: 4.13s	remaining: 545ms
106:	learn: 513.6672076	total: 4.19s	remaining: 509ms
107:	learn: 513.5435097	total: 4.23s	remaining: 470ms
108:	learn: 513.5419741	total: 4.26s	remaining: 430ms
109:	learn: 513.4912321	total: 4.3s	remaining: 391ms
110:	learn: 513.3445026	total: 4.35s	remaining: 353ms
111:	learn: 513.3046837	total: 4.4s	remaining: 314ms
112:	learn: 513.0957580	total: 4.44s	remaining: 275ms
113:	learn: 513.0514986	total: 4.49s	remaining: 236ms
114:	learn: 512.8196609	total: 4.53s	remaining: 197ms
115:	learn: 512.6755812	total: 4.57s	remaining: 157ms
116:	learn: 512.6731994	total: 4.6s	remaining: 118ms
117:	learn: 512.6199278	total: 4.63s	remaining: 78.4ms
118:	learn: 512.6144827	total: 4.66s	remaining: 39.1ms
119:	learn: 512.6129673	total: 4.69s	remaining: 0us

In [118]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42)
lasso=Lasso(alpha=0.01)
lasso.fit(x_train,y_train)
y_lasso=lasso.predict(x_test)
np.sqrt(mean_squared_error(y_lasso,y_test))

549.1675947642777

In [119]:
test=pd.read_excel('D:\\Data_Test.xlsx')
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [120]:
test['CITY']=test['CITY'].str.split().str.len()
test=test.drop(['TITLE','LOCALITY'],axis=1)
test['CUISINES']=test['CUISINES'].str.split().str.len()
a=test['TIME'].str.split(',')
test['LUNCH']=a.str[0]
test['DINNER']=a.str[1]

In [121]:
test['DINNER']=test['DINNER'].fillna(0)

In [122]:
test['DINNER_FROM']=test['DINNER'].str.extract('(\d+)')
test=test.drop('DINNER',axis=1)
test['DINNER_FROM']=test['DINNER_FROM'].fillna(0)
test['LUNCH_FROM']=test['LUNCH'].str.extract('(\d+)')
test['LUNCH_FROM']=test['LUNCH_FROM'].fillna(0)

In [123]:
test['CITY']=test['CITY'].fillna(1.0)
test['VOTES']=test['VOTES'].fillna('6 votes')
a=test['VOTES'].str.split()
test['VOTES']=a.str[0]
test=test.drop(['TIME','LUNCH'],axis=1)

In [124]:
test['RATING']=test["RATING"].str.replace('NEW','0')
test['RATING']=test["RATING"].str.replace('-','0')
test['RATING']=test['RATING'].astype('float')
test['VOTES']=test['VOTES'].astype('float')

In [125]:
test['DINNER_FROM']=test['DINNER_FROM'].astype('float')
test['LUNCH_FROM']=test['LUNCH_FROM'].astype('float')
test['RATING']=test['RATING'].fillna(3.8)

In [126]:
test=test.drop('RESTAURANT_ID',axis=1)

In [127]:
y_test=cat.predict(test)

In [128]:
y_test=y_test.astype('int')

In [129]:
final=pd.DataFrame(y_test)
final.columns=['COST']
final.to_excel('F:\\submission.xlsx',index=False)

In [130]:
final

      COST
0     1272
1      957
2      625
3      594
4      402
5      350
6      602
7     1214
8      669
9      385
10     494
11     564
12    1225
13    1064
14     499
15     635
16    1591
17     709
18     941
19     319
20     535
21     505
22     674
23     325
24     460
25     584
26     923
27     416
28     450
29     431
...    ...
4201   380
4202   640
4203  1308
4204   295
4205   431
4206  2759
4207   491
4208   469
4209   552
4210   602
4211   560
4212   746
4213   530
4214   470
4215   927
4216   505
4217  1586
4218   422
4219   590
4220   695
4221   489
4222   739
4223   448
4224   847
4225  1037
4226   587
4227   908
4228   327
4229   383
4230   405

[4231 rows x 1 columns]