In [1535]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1536]:
df1=pd.read_csv('F:\\data.csv')
df1=df1.drop(['match_event_id','date_of_game','remaining_sec.1','team_id','team_name','match_id','home/away','type_of_shot','lat/lng'],1)
df1.head()

,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,shot_id_number,type_of_combined_shot,remaining_min.1,power_of_shot.1,knockout_match.1,distance_of_shot.1
0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,1.0,NaN,10.00,1.0,50.608,38.0
1,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,2.0,NaN,10.00,1.0,28.800,35.0
2,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,3.0,NaN,92.64,1.0,0.000,54.4
3,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,4.0,shot - 3,NaN,1.0,122.608,42.0
4,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,5.0,shot - 1,42.64,2.0,0.000,20.0

In [1537]:
#df1['type_of_shot'].isnull().sum()

In [1538]:
df1['game_season']=df1['game_season'].ffill()
df1['game_season_year']=df1['game_season'].str.split('-').str[0]
df1['game_season_month']=df1['game_season'].str.split('-').str[1]
df1=df1.drop('game_season',1)

In [1539]:
#sample=pd.read_csv('F:\\sample_submission.csv')
#df1=df1.join(sample)
#sample.shape
df1['type_of_combined_shot']=df1['type_of_combined_shot'].str.split('-').str[1]
df1['type_of_combined_shot']=df1['type_of_combined_shot'].ffill()
df1=df1.drop('type_of_combined_shot',1)

In [1540]:
test=df1[df1['is_goal'].isnull()]
test.shape
shot_id=test['shot_id_number']
test=test.drop('shot_id_number',1)
#test['shot_id_number'].isnull().sum()

In [1541]:
#test=test.drop('game_season',1)

In [1542]:
df=df1[df1['is_goal'].notnull()]
df=df.drop('shot_id_number',1)
#df=df.drop('game_season',1)

In [1543]:
df.columns

Index([u'location_x', u'location_y', u'remaining_min', u'power_of_shot',
       u'knockout_match', u'remaining_sec', u'distance_of_shot', u'is_goal',
       u'area_of_shot', u'shot_basics', u'range_of_shot', u'remaining_min.1',
       u'power_of_shot.1', u'knockout_match.1', u'distance_of_shot.1',
       u'game_season_year', u'game_season_month'],
      dtype='object')

In [1544]:
test.isnull().sum()

location_x             305
location_y             295
remaining_min          318
power_of_shot          286
knockout_match         305
remaining_sec          344
distance_of_shot       310
is_goal               6268
area_of_shot           320
shot_basics            292
range_of_shot          316
remaining_min.1        326
power_of_shot.1        331
knockout_match.1       279
distance_of_shot.1     324
game_season_year         0
game_season_month        0
dtype: int64

In [1545]:
df['shot_basics']=df['shot_basics'].fillna('Mid Range')
test['shot_basics']=test['shot_basics'].fillna('Mid Range')

In [1546]:
df['location_x']=df['location_x'].ffill()
test['location_x']=test['location_x'].ffill()

In [1547]:
df['remaining_min']=df['remaining_min'].fillna(0.0)
test['remaining_min']=test['remaining_min'].fillna(0.0)

In [1548]:
df['power_of_shot']=df['power_of_shot'].fillna(3.0)
test['power_of_shot']=test['power_of_shot'].fillna(3.0)

In [1549]:
df['knockout_match']=df['knockout_match'].fillna(0.0)
test['knockout_match']=test['knockout_match'].fillna(0.0)

In [1550]:
df['remaining_sec']=df['remaining_sec'].fillna(0.0)
test['remaining_sec']=test['remaining_sec'].fillna(0.0)

In [1551]:
df['distance_of_shot']=df['distance_of_shot'].fillna(20.0)
test['distance_of_shot']=test['distance_of_shot'].fillna(20.0)

In [1552]:
df['area_of_shot']=df['area_of_shot'].fillna('Center(C)')
test['area_of_shot']=test['area_of_shot'].fillna('Center(C)')

In [1553]:
df['shot_basics']=df['shot_basics'].fillna('Mid Range')
test['shot_basics']=test['shot_basics'].fillna('Mid Range')

In [1554]:
df['range_of_shot']=df['range_of_shot'].fillna('Less Than 8 ft.')
test['range_of_shot']=test['range_of_shot'].fillna('Less Than 8 ft.')

In [1555]:
df['remaining_min.1']=df['remaining_min.1'].fillna(18.15)
test['remaining_min.1']=test['remaining_min.1'].fillna(18.15)

In [1556]:
df['power_of_shot.1']=df['power_of_shot.1'].ffill()
test['power_of_shot.1']=test['power_of_shot.1'].ffill()

In [1557]:
df['knockout_match.1']=df['knockout_match.1'].ffill()
test['knockout_match.1']=test['knockout_match.1'].ffill()

In [1558]:
df['distance_of_shot.1']=df['distance_of_shot.1'].fillna(20.000)
test['distance_of_shot.1']=test['distance_of_shot.1'].fillna(20.000)

In [1559]:
df['location_y']=df['location_y'].ffill()
test['location_y']=test['location_y'].ffill()

In [1560]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24429 entries, 1 to 30696
Data columns (total 17 columns):
location_x            24429 non-null float64
location_y            24429 non-null float64
remaining_min         24429 non-null float64
power_of_shot         24429 non-null float64
knockout_match        24429 non-null float64
remaining_sec         24429 non-null float64
distance_of_shot      24429 non-null float64
is_goal               24429 non-null float64
area_of_shot          24429 non-null object
shot_basics           24429 non-null object
range_of_shot         24429 non-null object
remaining_min.1       24429 non-null float64
power_of_shot.1       24429 non-null float64
knockout_match.1      24429 non-null float64
distance_of_shot.1    24429 non-null float64
game_season_year      24429 non-null object
game_season_month     24429 non-null object
dtypes: float64(12), object(5)
memory usage: 3.4+ MB

In [1561]:
df['area_of_shot'].value_counts()

Center(C)                11359
Right Side Center(RC)     3616
Right Side(R)             3504
Left Side Center(LC)      3031
Left Side(L)              2848
Mid Ground(MG)              71
Name: area_of_shot, dtype: int64

In [1562]:
area=pd.get_dummies(df['area_of_shot'])
df=df.join(area)
df=df.drop('area_of_shot',1)
area.shape

(24429, 6)

In [1563]:
area1=pd.get_dummies(test['area_of_shot'])
test=test.join(area1)
test=test.drop('area_of_shot',1)
area1.shape

(6268, 6)

In [1564]:
basics=pd.get_dummies(df['shot_basics'])
df=df.join(basics)
df=df.drop('shot_basics',1)
basics.shape

(24429, 7)

In [1565]:
basics1=pd.get_dummies(test['shot_basics'])
test=test.join(basics1)
test=test.drop('shot_basics',1)
basics1.shape

(6268, 7)

In [1566]:
range_=pd.get_dummies(df['range_of_shot'])
df=df.join(range_)
df=df.drop('range_of_shot',1)
range_.shape

(24429, 5)

In [1567]:
range_1=pd.get_dummies(test['range_of_shot'])
test=test.join(range_1)
test=test.drop('range_of_shot',1)
range_1.shape

(6268, 5)

In [1568]:
test.shape

(6268, 32)

In [1569]:
df.shape
df.head(2)

,location_x,location_y,remaining_min,power_of_shot,knockout_match,remaining_sec,distance_of_shot,is_goal,remaining_min.1,power_of_shot.1,...,Left Corner,Mid Ground Line,Mid Range,Penalty Spot,Right Corner,16-24 ft.,24+ ft.,8-16 ft.,Back Court Shot,Less Than 8 ft.
1,-157.0,0.0,10.0,1.0,0.0,22.0,35.0,0.0,10.00,1.0,...,0,0,1,0,0,0,0,1,0,0
2,-101.0,135.0,7.0,1.0,0.0,45.0,36.0,1.0,92.64,1.0,...,0,0,1,0,0,1,0,0,0,0

In [1570]:
#import seaborn as sns
#sns.set()
#df['is_goal']=df['is_goal'].astype('category')
#sns.boxplot(x=df['remaining_min.1'],y=df['is_goal'])
#plt.scatter(df['location_x'],y=df['is_goal'],marker='.')

In [1571]:
#df['is_goal']=df['is_goal'].astype('float')

In [1572]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [1573]:
x=df.drop('is_goal',1)
y=df['is_goal']

In [1590]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,stratify=y)

In [1588]:
from catboost import CatBoostRegressor
model=CatBoostRegressor(iterations=1, depth=4, learning_rate=0.2, loss_function='RMSE',
                       )#eval_metric='Accuracy')
model.fit(x_train,y_train)
model.feature_importances_

0:	learn: 0.6091240	total: 58.2ms	remaining: 0us

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  2.29629507,  0.        ,
       44.6123938 ,  2.38143969,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       50.70987145])

In [1600]:
dt1=DecisionTreeRegressor(max_depth=5)
dt1.fit(x_train,y_train)
y_dt=dt1.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_dt))

0.487332544478887

In [1577]:
from sklearn.linear_model import Lasso
lasso=Lasso()
lasso.fit(x_train,y_train)
y_lasso=lasso.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_lasso))

0.49235231530025636

In [1578]:
from sklearn.ensemble import BaggingRegressor
bag=BaggingRegressor(n_estimators=50)
bag.fit(x_train,y_train)
y_bag=bag.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_bag))

0.49699947431615477

In [1579]:
from sklearn.ensemble import GradientBoostingRegressor
gb1=GradientBoostingRegressor(n_estimators=2,subsample=0.9)
gb1.fit(x_train,y_train)
y_gb1=gb1.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_gb1))

0.4850418488775201

In [1580]:
#from xgboost import XGBRegressor
#clf= XGBRegressor(n_estimators=200,max_depth=5,subsample=0.9)
#clf.fit(x,y)
#y_clf=clf.predict(x_test)
#np.sqrt(mean_squared_error(y_test,y_clf))

In [1581]:
test=test.drop('is_goal',1)

In [1601]:
y_test=dt1.predict(test)

In [1602]:
sub=pd.DataFrame(y_test)
sub.columns=['is_goal']

In [1603]:
sub.shape
sample=pd.read_csv('F:\\sample_submission.csv')

In [1604]:
#sub=sub[['shot_id_number','is_goal']]
#sub['shot_id_number']

In [1605]:
sub.to_csv('F:\\answer.csv')

In [1606]:
sub

       is_goal
0     0.408059
1     0.474178
2     0.610127
3     0.454494
4     0.408059
5     0.408059
6     0.408059
7     0.689034
8     0.610127
9     0.610127
10    0.408059
11    0.474178
12    0.408059
13    0.207792
14    0.207792
15    0.454494
16    0.454494
17    0.454494
18    0.408059
19    0.370843
20    0.454494
21    0.454494
22    0.454494
23    0.408059
24    0.408059
25    0.408059
26    0.408059
27    0.408059
28    0.408059
29    0.408059
...        ...
6238  0.408059
6239  0.595376
6240  0.408059
6241  0.370843
6242  0.454494
6243  0.689034
6244  0.408059
6245  0.408059
6246  0.454494
6247  0.408059
6248  0.408059
6249  0.408059
6250  0.408059
6251  0.454494
6252  0.500000
6253  0.000000
6254  0.408059
6255  0.408059
6256  0.597938
6257  0.408059
6258  0.408059
6259  0.454494
6260  0.408059
6261  0.610127
6262  0.610127
6263  0.370843
6264  0.454494
6265  0.408059
6266  0.454494
6267  0.595376

[6268 rows x 1 columns]