In [219]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [220]:
df=pd.read_csv('D:\\train_file.csv')
df=df.drop(['PublicationYear','ID','UsageClass','CheckoutType','CheckoutYear','CheckoutMonth'],1)
test=pd.read_csv('D:\\test_file.csv')
test=test.drop(['PublicationYear','UsageClass','CheckoutType','CheckoutYear','CheckoutMonth'],1)
df.head()

,Checkouts,Title,Creator,Subjects,Publisher,MaterialType
0,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,BOOK
1,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",BOOK
2,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",BOOK
3,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,BOOK
4,1,As a man thinketh,NaN,Thought and thinking,NaN,BOOK

In [221]:
df.isnull().sum()

Checkouts           0
Title               0
Creator         23137
Subjects         1763
Publisher       21916
MaterialType        0
dtype: int64

In [222]:
df['Creator']=df['Creator'].fillna('not available')
df['Publisher']=df['Publisher'].fillna('not available')
df['Subjects']=df['Subjects'].fillna('not available')

In [223]:
test['Creator']=test['Creator'].fillna('not available')
test['Publisher']=test['Publisher'].fillna('not available')
test['Subjects']=test['Subjects'].fillna('not available')

In [224]:
df.head()

,Checkouts,Title,Creator,Subjects,Publisher,MaterialType
0,1,Tidal wave,not available,"Tsunamis, Tsunamis Juvenile literature",not available,BOOK
1,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",not available,"Viking,",BOOK
2,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",BOOK
3,1,Annapolis,not available,"War stories, Historical fiction, Domestic fict...",not available,BOOK
4,1,As a man thinketh,not available,Thought and thinking,not available,BOOK

In [225]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [226]:
test['Title']=test['Title'].str.replace('[^a-zA-Z]',' ')
test['Creator']=test['Creator'].str.replace('[^a-zA-Z]',' ')
test['Subjects']=test['Subjects'].str.replace('[^a-zA-Z]',' ')
test['Publisher']=test['Publisher'].str.replace('[^a-zA-Z]',' ')

In [227]:
df['Title']=df['Title'].str.replace('[^a-zA-Z]',' ')
df['Creator']=df['Creator'].str.replace('[^a-zA-Z]',' ')
df['Subjects']=df['Subjects'].str.replace('[^a-zA-Z]',' ')
df['Publisher']=df['Publisher'].str.replace('[^a-zA-Z]',' ')

In [228]:
tf=TfidfVectorizer(stop_words='english',max_df=0.9,max_features=20,ngram_range=(2,2))
tf.fit(df['Title'])
df_tf=pd.DataFrame(tf.transform(df['Title']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf_')
df=df.join(df_tf)

In [229]:
tf.fit(test['Title'])
test_tf=pd.DataFrame(tf.transform(test['Title']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf_')
test=test.join(test_tf)

In [230]:
tf=TfidfVectorizer(stop_words='english',max_df=0.9,max_features=20)
tf.fit(df['Creator'])
df_tf=pd.DataFrame(tf.transform(df['Creator']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf_')
df=df.join(df_tf)

In [231]:
tf.fit(test['Creator'])
test_tf=pd.DataFrame(tf.transform(test['Creator']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf_')
test=test.join(test_tf)

In [232]:
tf=TfidfVectorizer(stop_words='english',max_df=0.9,max_features=20,ngram_range=(2,2))
tf.fit(df['Subjects'])
df_tf=pd.DataFrame(tf.transform(df['Subjects']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf2_')
df=df.join(df_tf)

In [233]:
tf.fit(test['Subjects'])
test_tf=pd.DataFrame(tf.transform(test['Subjects']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf2_')
test=test.join(test_tf)

In [234]:
tf=TfidfVectorizer(stop_words='english',max_df=0.9,max_features=20)
tf.fit(df['Publisher'])
df_tf=pd.DataFrame(tf.transform(df['Publisher']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf1_')
df=df.join(df_tf)

In [235]:
tf.fit(test['Publisher'])
test_tf=pd.DataFrame(tf.transform(test['Publisher']).toarray(),columns=tf.get_feature_names()).add_prefix('tfidf1_')
test=test.join(test_tf)

In [236]:
df=df.drop(['Title','Creator','Subjects','Publisher'],1)

In [237]:
test=test.drop(['Title','Creator','Subjects','Publisher'],1)

In [238]:
from sklearn.preprocessing import LabelEncoder

In [239]:
le=LabelEncoder()
le.fit(df['MaterialType'])
df['MaterialType']=le.transform(df['MaterialType'])

In [240]:
df.head()

,Checkouts,MaterialType,tfidf_civil war,tfidf_complete book,tfidf_complete guide,tfidf_edited introduction,tfidf_field guide,tfidf_greatest hits,tfidf_large print,tfidf_motion picture,...,tfidf1_publishers,tfidf1_random,tfidf1_readers,tfidf1_records,tfidf1_schuster,tfidf1_simon,tfidf1_university,tfidf1_video,tfidf1_warner,tfidf1_young
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [241]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

In [242]:
x=df.drop('MaterialType',1)
y=df['MaterialType']
x=scale(x)

In [243]:
x_train,x_test,y_train,y_test = train_test_split(x,y,stratify=y,random_state=42)

In [244]:
from xgboost import XGBClassifier
clf= XGBClassifier(n_estimators=300,max_depth=4,subsample=0.9)
clf.fit(x,y)
clf.score(x_test,y_test)

C:\Users\user\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8292898660601465

In [245]:
from catboost import CatBoostClassifier
model=CatBoostClassifier(iterations=1, depth=4, learning_rate=0.2, loss_function='MultiClass',
                         eval_metric='Accuracy')
model.fit(x_train,y_train)
model.feature_importances_

0:	learn: 0.7929567	total: 434ms	remaining: 0us

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       16.85639195,  0.        ,  0.        , 28.70394792,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        , 29.87945557,
        0.        , 24.56020456,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ])

In [246]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(max_depth=10)
dt.fit(x_train,y_train)
dt.score(x_test,y_test)

0.8201920646954763

In [247]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=150,max_depth=14,n_jobs=-1)
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.8228455900935052

In [248]:
from sklearn.ensemble import AdaBoostClassifier
ada=AdaBoostClassifier(dt,n_estimators=1)
ada.fit(x_train,y_train)
ada.score(x_test,y_test)

0.8204447814000505

In [249]:
from sklearn.ensemble import BaggingClassifier
bag=BaggingClassifier(dt,n_estimators=1)
bag.fit(x_train,y_train)
bag.score(x_test,y_test)

0.8199393479909022

In [250]:
from sklearn.ensemble import GradientBoostingClassifier
gb1=GradientBoostingClassifier(n_estimators=5,subsample=0.9)
gb1.fit(x_train,y_train)
gb1.score(x_test,y_test)

0.816654030831438

In [251]:
id=test['ID']
test=test.drop('ID',1)

In [252]:
test=scale(test)

In [263]:
y_test=clf.predict(test)
y_test=pd.DataFrame(y_test,columns=['answer'])
y_test=y_test['answer'].astype('int')

C:\Users\user\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [264]:
y_test=le.inverse_transform(y_test)

C:\Users\user\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [265]:
y_test

array(['BOOK', 'VIDEOCASS', 'BOOK', ..., 'BOOK', 'VIDEODISC', 'BOOK'],
      dtype=object)

In [266]:
sub=pd.DataFrame(y_test)

In [267]:
sub['ID']=id
sub['MaterialType']=y_test

In [268]:
sub=sub.drop(0,1)

In [269]:
sub.to_csv('D:\\answer.csv',index=False)

In [270]:
sub.shape

(21102, 2)

In [271]:
test.shape

(21102L, 81L)

In [272]:
sub['MaterialType'].value_counts()

BOOK         18168
SOUNDDISC     1194
VIDEOCASS      968
VIDEODISC      647
SOUNDCASS       78
CR              26
MUSIC           21
Name: MaterialType, dtype: int64